# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest cache
.pytest_cache/

# VS Code
.vscode/

# MacOS
.DS_Store

# Env
.env
.venv/
